
<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Merriweather:ital,wght@0,700;1,400&family=Montserrat:wght@300;400&family=Muli:wght@700&family=Playfair+Display:wght@500;600&family=Raleway:wght@100;400;500;600&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Product List </title>
	<link rel="icon" href="/img/favicon.ico">

</head>

<body>


<!-- TOP NAVBAR -->
	<nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: white">
	  <a class="navbar-brand" href="/">BRMK</a>

	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	  	<div class="navbar-nav mr-auto">
	  		<a class="nav-item nav-link" href="/notice">Gallery</a>
	  		<a class="nav-item nav-link" href="/notice">Resources</a>
	  		<a class="nav-item nav-link" href="/notice">About Us</a>
	  		<a class="nav-item nav-link" href="/notice">Shopping List</a>
	  	</div>

	    <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      	<button class="btn btn-outline-light my-2 my-sm-0" type="submit">
	      		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			  		<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
			  		<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
				</svg>
	      	</button>
	    </form>
	  </div>
	</nav>
<!--  -->

	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #87a3b11c">
	  	<div class="navbar-nav mr-auto col-lg-12">
	  		<a class="nav-item nav-link2 col-xl-2 col-md-4 col-sm-6 col-xs-12" href="/products/type1">Product Type 1</a>
	  		<a class="nav-item nav-link2 col-xl-2 col-md-4 col-sm-6 col-xs-12" href="/products/type2">Product Type 2</a>
	  		<a class="nav-item nav-link2 col-xl-2 col-md-4 col-sm-6 col-xs-12" href="/products/type3">Product Type 3</a>
	  		<a class="nav-item nav-link2 col-xl-2 col-md-4 col-sm-6 col-xs-12" href="/products/type4">Product Type 4</a>
	  		<a class="nav-item nav-link2 col-xl-2 col-md-4 col-sm-6 col-xs-12" href="/products/type5">Product Type 5</a>
	  		<a class="nav-item nav-link2 col-xl-2 col-md-4 col-sm-6 col-xs-12" href="/products/all">SEE MORE</a>
	  	</div>
	</nav>



<section class="product-type">
	<h6>PRODUCT LIST</h6>
</section>


<!-- drop down -->
	<section class="row">
		<div class="col-lg-3">
			<div class="drop-down-bar">
				<h3 class="shop-by-categories"><strong>Shop by Categories</strong></h3>

				<h3>
			        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#led-tape-lights">
			          Product Type 1
			        </button>
			    </h3>
			    <div id="led-tape-lights" class="collapse">
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			    </div>

			    <h3>
			        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#power-supplies">
			          Product Type 2
			        </button>
			    </h3>
			    <div id="power-supplies" class="collapse">
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			    </div>

			    <h3>
			        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#aluminum-channel-profiles">
			          Product Type 3
			        </button>
			    </h3>
			    <div id="aluminum-channel-profiles" class="collapse">
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			    </div>

			    <h3>
			        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#led-down-recessed-lights">
			          Product Type 4
			        </button>
			    </h3>
			    <div id="led-down-recessed-lights" class="collapse">
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			    </div>


			    <h3>
			        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#led-shallow-housing">
			          Product Type 5
			        </button>
			    </h3>
			    <div id="led-shallow-housing" class="collapse">
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			    </div>


			    <h3>
			        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#linkable-led-linear-fixurelighting">
			          Product Type 6
			        </button>
			    </h3>
			    <div id="linkable-led-linear-fixurelighting" class="collapse">
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			    </div>
				
				<h3>
			        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#led-control-system">
			          Product Type 7
			        </button>
			    </h3>
			    <div id="led-control-system" class="collapse">
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			    </div>


				<h3>
			        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#accessories">
			          Product Type 8
			        </button>
			    </h3>
			    <div id="accessories" class="collapse">
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			    </div>


			    <h3>
			        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#others">
			          Others
			        </button>
			    </h3>
			    <div id="others" class="collapse">
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			        <li><a href="/notice">Subtype</a> <br></li>
			    </div>

			</div>
		</div> 
		<div class="col-lg-9">
			<div class="products-list">
				<br><br><br>
				<h3>Products coming soon, thank you for your patience! <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-sunglasses" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				  <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM6.5 6.497V6.5h-1c0-.568.447-.947.862-1.154C6.807 5.123 7.387 5 8 5s1.193.123 1.638.346c.415.207.862.586.862 1.154h-1v-.003l-.003-.01a.213.213 0 0 0-.036-.053.86.86 0 0 0-.27-.194C8.91 6.1 8.49 6 8 6c-.491 0-.912.1-1.19.24a.86.86 0 0 0-.271.194.213.213 0 0 0-.036.054l-.003.01z"/>
				  <path d="M2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v1a2 2 0 0 1-2 2h-.438a2 2 0 0 1-1.94-1.515L2.31 5.243zM9 5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-2-2V5z"/>
				</svg></h3>
			</div>
		</div>
	</section>




<!-- footer -->
	<section class="ending-page">
		<div class="row">
			<div class="col-lg-3">
				<a href="/notice"><h3>ABOUT US</h3></a>
			</div>
			<div class="col-lg-3">
				
			</div>
			<div class="col-lg-2">
				<h6>ADDITIONAL LINKS</h6>
				<a href="/notice"><h6>Product Lists</h6></a>
				<a href="/notice"><h6>Gallery Wall</h6></a>
				<a href="/notice"><h6>Shipping Policy</h6></a>
				<a href="/notice"><h6>Return Policy</h6></a>
				<a href="/notice"><h6>Terms of Use</h6></a>
			</div>
			<div class="col-lg-2">
				<h6>RESOURCES</h6>
				<a href="/notice"><h6>Catalog</h6></a>
				<a href="/notice"><h6>Shipping List</h6></a>
				<a href="/notice"><h6>Purchase Order</h6></a>
				<a href="/notice"><h6>Manual</h6></a>
			</div>
			<div class="col-lg-2">
				<h6>CONTACT</h6>
				<a href="/notice"><h6>(123)456-7890</h6></a>
			</div>
		</div>
		<hr>
		<h5>© 2020 Bruin Market. All Rights Reserved</h5>		
	</section>



	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
